@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu:wght@500&display=swap');

$yellow: #ffe93e;
$font1: 'Patrick Hand', cursive;
$font2: 'Ubuntu', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    overflow-x: hidden;
}

// navbar
.navbar{
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font1;
    .logo{
        img{
            height: 14vh;
        }
    }
    nav{
        width: 40vw;
        display: flex;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: rgb(39, 39, 39);
            font-size: 20px;
            padding: 2vh 2vw;
            border-radius: 15px;
            transition: 500ms;
            border-bottom: 2px solid $yellow;
            &:hover{
                background-color: $yellow;
            }
        }
    }
}

// content
.container{
    width: 100vw;
    margin-top: 20vh;
    height: 60vh;
    display: flex;
    font-family: $font1;
    .left{
        font-size: 5vw;
        width: 90vw;
        padding: 6vh 5vw;
        font-weight: 700;
        span{
            color: green;
            font-weight: 900;
            cursor: pointer;
            transition: 500ms;
            &:hover{
                color: $yellow;
            }
        }
    }
    .right{
        width: 110vw;
        img{
            height: 60vh;
        }
    }
}