
$yellow: #ffe93e;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: right;
}

// navbar
.navbar{
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        img{
            height: 14vh;
        }
    }
    nav{
        width: 40vw;
        display: flex;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: rgb(39, 39, 39);
            font-size: 20px;
            padding: 2vh 2vw;
            border-radius: 15px;
            transition: 500ms;
            border-bottom: 2px solid $yellow;
            &:hover{
                background-color: $yellow;
            }
        }
    }
}

// content
.container{
    width: 100vw;
    height: 60vh;
    display: flex;
    .left{
        font-size: 4vw;
        width: 90vw;
        padding: 6vh 9vw;
        span{
            color: $yellow;
        }
    }
    .right{
        width: 110vw;
        img{
            height: 60vh;
        }
    }
}