@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
}

body {
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  overflow-x: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo img {
  height: 10vw;
}

.navbar nav {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar nav a {
  text-decoration: none;
  color: #272727;
  font-size: 20px;
  padding: 2vh 2vw;
  border-radius: 15px;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-bottom: 2px solid #ffe93e;
}

.navbar nav a:hover {
  background-color: #ffe93e;
}

.container {
  width: 100vw;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .left {
  font-size: 5vw;
  width: 90vw;
  padding: 6vh 5vw;
  font-weight: 700;
}

.container .right {
  width: 110vw;
}

.container .right img {
  width: 48vw;
}

span {
  color: green;
  font-weight: 900;
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
}

span:hover {
  color: #ffe93e;
}

.characters {
  margin-top: 10vh;
  margin-bottom: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.characters .left_char {
  width: 50vw;
}

.characters .left_char img {
  height: 50vw;
}

.characters .right_char {
  font-size: 6vw;
  margin-top: 20vh;
  font-weight: 700;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop .left_shop {
  margin-top: 10vh;
  font-size: 6vw;
  width: 90vw;
  padding: 6vh 5vw;
  font-weight: 700;
}

.shop .left_shop #buy_btn {
  background-color: #ffe93e;
  font-size: 3vw;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 1vh 2vw;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.shop .left_shop #buy_btn:hover {
  background-color: #000;
  color: #ffe93e;
}

.shop .right_shop img {
  width: 55vw;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffe93e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Up and Down Button*/
::-webkit-scrollbar-button {
  background-color: #000;
}

#button {
  display: inline-block;
  background-color: #000000;
  padding: 20px 20px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: #ffe93e;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

@media only all and (max-width: 1000px) {
  .navbar nav {
    width: 60vw;
  }
  .characters .right_char {
    padding-left: 10vw;
  }
}

@media only all and (max-width: 850px) {
  .navbar nav a {
    font-size: 18px;
  }
  .container .left {
    font-size: 7vw;
  }
  .container .right img {
    width: 55vw;
  }
  .characters .right {
    font-size: 8vw;
  }
  .shop .left_shop {
    font-size: 6vw;
  }
}

@media only all and (max-width: 600px) {
  body {
    background-attachment: scroll;
  }
  .navbar nav {
    width: 65vw;
  }
  .navbar nav a {
    font-size: 12px;
  }
  .navbar .logo img {
    height: 8vw;
  }
  .characters .right {
    margin-top: 8vh;
  }
}
/*# sourceMappingURL=style.css.map */