@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu:wght@500&display=swap');

$yellow: #ffe93e;
$font1: 'Patrick Hand', cursive;
$font2: 'Ubuntu', sans-serif;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    overflow-x: hidden;
}

// navbar
.navbar{
    display: flex;
    padding: 3vh;
    align-items: center;
    justify-content: space-between;
    font-family: $font1;
    .logo{
        img{
            height: 14vh;
        }
    }
    nav{
        width: 40vw;
        display: flex;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: rgb(39, 39, 39);
            font-size: 20px;
            padding: 2vh 2vw;
            border-radius: 15px;
            transition: 500ms;
            border-bottom: 2px solid $yellow;
            &:hover{
                background-color: $yellow;
            }
        }
    }
}

// content
.container{
    width: 100vw;
    margin-top: 20vh;
    height: 60vh;
    display: flex;
    font-family: $font1;
    .left{
        font-size: 5vw;
        width: 90vw;
        padding: 6vh 5vw;
        font-weight: 700;
    }
    .right{
        width: 110vw;
        img{
            height: 60vh;
        }
    }
}


span{
    color: green;
    font-weight: 900;
    cursor: pointer;
    transition: 500ms;
    &:hover{
        color: $yellow;
    }
}

// characters
.characters{
    margin-top: 10vh;
    margin-bottom: 20vh;
    display: flex;
    .left_char{
        width: 50vw;
        img{
            height: 90vh;
        }
    }
    .right_char{
        font-size: 6vw;
        margin-top: 20vh;
        font-family: $font1;
        font-weight: 700;
    }
}

// shop
.shop{
    display: flex;
    .left_shop{
        width: 50vw;
        border: 2px solid green;
    }
}


// footer



// scroll bar
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $yellow; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  /* Up and Down Button*/
  ::-webkit-scrollbar-button{
      background-color: #000;
  }


  // back to top
  #button {
    display: inline-block;
    background-color: #000000;
    padding: 20px 20px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    color: $yellow;
    
   &:hover {
    cursor: pointer;
    background-color: #333;
  }
}

#button.show {
    opacity: 1;
    visibility: visible;
}